<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="connectionString" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=InventoryDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False"/>
	</appSettings>
</configuration>